$backgroundColor: #fff;
$blackText: #0D082C;

$logoFont: Orbitron, sans-serif;

$mainBackgroundGradient: conic-gradient(from 202deg at 81.78% 23.22%, #4629F2 0deg, #13C6FF 125.62500357627869deg, #B94DFB 215.62499284744263deg, #FF53EE 294.3749928474426deg, #F3B960 360deg), #D9D9D9;