.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  grid-area: main;

  .chatTableWrapper {
    display: flex;
    background-color: #fff;
  }
}

@media only screen and (max-width: 550px) {
  .chat {


    .chatTableWrapper {
      
    }
  }
}