.loginWrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 30px 60px 0 rgba(70, 41, 242, 0.14);
  overflow: hidden;
  border-bottom: 15px solid #4560F7;
  grid-area: header;
  background-color: $backgroundColor;

  .loginHeader {
    width: 100%;
    height: 300px;
    background: $mainBackgroundGradient;

    .headerWrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      gap: 10px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      align-items: center;
      justify-content: center;

      .headerIcon {
        font-size: 50px;
        color: #fff;
        filter: drop-shadow(3px 5px 2px blue)
      }

      .headerTitle {
        font-size: 30px;
        margin-top: 5px;
        color: #fff;
        font-weight: 700;
        text-shadow: 5px 5px 20px blue;
        font-family: $logoFont;
      }
    }
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;

    .formTitle {
      text-align: center;
      color: $blackText;
      font-size: 17px;
      font-weight: 500;
      text-shadow: 2px 2px 5px #bebebe;
    }

    .formWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }

      .submitButton {
        min-width: 120px;
        width: fit-content;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        background: #4560F7;
        box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;

        &:hover {
          background: #2b0fc2;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 7px;
    padding: 7px 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.nameInput {
  margin-bottom: auto;
  width: 60%;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;

  &::placeholder {
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .loginWrapper {
    height: 100%;
    width: 100vw;
    border-radius: 0;

    .loginHeader {

      height: 100%;


      .headerWrapper {
        .headerIcon {
          align-self: end;
          padding-bottom: 20px;
        }

        .headerTitle {
          align-self: end;
          padding-bottom: 20px;
        }
      }
    }

    .loginForm {
      align-items: center;
      justify-content: center;
      height: 400px;
    }
  }
}
