.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 50px);
  background-color: #fff;
  gap: 10px;
  overflow-y: auto;
  padding-top: 10px;
}

@media only screen and (max-width: 550px) {
  .container {
    max-height: calc(100vh - var(--header-height) - var(--footer-height) - 50px);
  }
}
