.container {
  position: relative;
  overflow: hidden;

  .emojiWrapper {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  .emojiButton {
    display: flex;
    height: 100%;
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    color: grey;

    .icon {
      font-size: 23px;
    }
  }
}