.container {
  position: relative;

  .emojiWrapper {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  .emojiButton {
    background: none;
    border: none;
    box-shadow: none;
    color: grey;
  }
}