.headerWrapper {
  display: flex;
  width: 100%;
  height: $headerHeight;
  background: $mainBackgroundGradient;
  overflow: hidden;

  .headerWrapper__filter {
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;

    .logoContainer {
      display: flex;
      gap: 10px;
      padding-left: 100px;

      .logoIcon {
        font-size: 50px;
        color: #fff;
        filter: drop-shadow(3px 5px 2px blue)
      }

      .headerTitle {
        font-size: 30px;
        margin-top: 5px;
        color: #fff;
        font-weight: 700;
        text-shadow: 5px 5px 20px blue;
        font-family: $logoFont;
      }
    }

    .statusContainer {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-right: 20px;
      color: white;
      text-align: right;
      text-transform: uppercase;
      text-shadow: 2px 2px 20px rgba(77, 77, 157, 0.65);
    }
  }
}

@media only screen and (max-width: 450px) {
  .headerWrapper {
    height: 95px;

    .headerWrapper__filter {

      .logoContainer {
        flex-direction: column;
        gap: 0;
        padding-left: 20px;

        .logoIcon {
          font-size: 40px;
        }

        .headerTitle {
          font-size: 20px;
          margin-top: 0;
        }
      }

      .statusContainer {
        padding-right: 10px;
        font-size: 12px;
      }
    }
  }
}